@import '../variables.scss';

.concerts-page {
  display: flex;
  flex-direction: column;

  background-color: $background-white;
  
  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;

    @include sm-mobile {
      padding: 0 0.5rem;
      align-items: center;
    }
  } 

  &__subheading {
    margin-left: 1rem;
    margin-right: 1rem;

    @include sm-mobile {
      width: 37rem;
      margin-left: 0;
      margin-right: 0;
    }
  }

  &__preview {
    margin: 0 1rem;

    @include desktop {
      max-width: 40rem;
    }
  }

  &__social-media {
    margin: 2rem 0;
    padding: 1rem 0;
  }

  @include sm-mobile {
    align-items: center;
  }
}