@import '../variables.scss';

.concerts-page {
  display: flex;
  flex-direction: column;

  background-color: $background-white;

  @include sm-mobile {
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 1rem;
  }
}