@import '../variables.scss';

.concerts-page {
  display: flex;
  flex-direction: column;

  background-color: $background-white;

  @include sm-mobile {
    align-items: center;
  }

  @include desktop {
    margin-top: 0.75rem;
  }
  
  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;

    @include sm-mobile {
      padding: 0 0.5rem;
      align-items: center;
    }
  } 
}