@import '../variables.scss';

.top-image {
  width: 100vw;
  height: 14rem;
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cu-singers {
  background-color: #FDFDFD;

  &__content {
    position: relative;
    
    background-color: #FDFDFD;

    top: -$border-radius;
    padding: 1.25rem;
    border-radius: $border-radius $border-radius 0 0;
  }
}