@import '../variables.scss';

.top-image {
  width: 100vw;
  height: 14rem;
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-self: center;

  @include desktop {
    height: 85vh;
    width: 47vw;

    background-position: center;
    border-radius: $border-radius;
  }
}

.ensembles {
  background-color: $background-white;

  display: flex;
  flex-direction: column;

  @include desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;

    align-items: center;
    
    background-color: $background-white;

    margin-top: -$border-radius;
    padding: 1.25rem 1.25rem 0;
    border-radius: $border-radius $border-radius 0 0;

    @include desktop {
      width: 47vw;
      padding: 0;
    }
  }

  @include desktop {
    margin: 0.75rem 0;
  }
}