@import '../variables.scss';

$max-column-width: 25rem;

.home-page {
  background-color: $background-white;
}

.landing-content {
  position: relative;
  height: 100vh;
  width: calc(100vw-2rem);

  margin-bottom: 1rem;

  padding: 1rem;

  border-radius: 0 0 $border-radius $border-radius;

  &__logo {
    display: flex;
    position: relative;
    width: 100%;
    max-width: $max-column-width;

    margin-left: auto;
    margin-right: auto;

    top: 8vh;
  }

  &__mission-statement {
    position: absolute;
    width: calc(100vw - 2rem);
    max-width: $max-column-width;

    left: 50%;
    transform: translate(-50%, 0);

    box-shadow: none;

    bottom: 10vh;
  }

  &__social-media {
    position: absolute;
    width: calc(100vw - 2rem);
    max-width: $max-column-width;

    left: 50%;
    transform: translate(-50%, 0);

    box-shadow: none;

    bottom: 1vh;
  }
}