@import '../variables.scss';

.home-page {
  background-color: $background-white;

  flex: 1 0 auto;
}

.landing-content {
  position: relative;
  height: calc(100vh - 2rem);
  width: 100vw;

  margin-bottom: 1rem;

  padding: 1rem 0;

  border-radius: 0 0 $border-radius $border-radius;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__logo {
    display: flex;
    position: relative;
    width: 90%;
    max-width: $max-column-width;

    margin-left: auto;
    margin-right: auto;

    top: 8vh;
  }

  &__mission-statement {
    position: absolute;
    width: calc(100vw - 2rem);
    max-width: $max-column-width;

    left: 50%;
    transform: translate(-50%, 0);

    box-shadow: none;

    bottom: calc(4vh + 2.3rem);
  }

  &__social-media {
    position: absolute;
    width: calc(100vw - 2rem);
    max-width: $max-column-width;

    left: 50%;
    transform: translate(-50%, 0);

    box-shadow: none;

    bottom: 2vh;
  }
}

.ensembles-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;

  max-width: 1300px;
  margin: 0 auto;
}