@import '../variables.scss';

.major {
  background-color: #FDFDFD;

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1.25rem;

    @include desktop {
      width: 50%;
    }
  }

  &__stories {
    &__heading {
      padding: 0 1rem;

      @include sm-mobile {
        padding: 0;
      }
      @include desktop {
        max-width: 37rem;
      }
    }

    @include sm-mobile {
      padding: 0 1rem;

      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @include desktop {
      width: 50%;

      align-items: center;
    }
  }

  @include desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}