@import '../variables.scss';

.major {
  background-color: #FDFDFD;

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1.25rem;

    @include desktop {
      max-width: 30rem;
    }
  }

  &__stories {
    padding: 0.25rem;

    &__heading {
      padding: 0 1rem;
    }

    @include sm-mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @include desktop {
      width: 50%;
    }
  }

  @include sm-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @include desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }
}