@import '../variables.scss';

.major-page {
  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0 1rem;

    @include desktop {
      width: 45%;
      width: calc(50% - 2rem);
    }

    &__image {
      width: 100vw;
      height: 20rem;
      background-size: cover;
      background-position: bottom;
      display: flex;
      justify-content: center;
      align-self: center;
      
      @include desktop {
        height: 55vh;
        width: 47vw;
      
        background-position: center;
        border-radius: $border-radius;
      }
    }

    &__social-media {
      padding: 1rem 0;
  
      @include sm-mobile {
        max-width: 39rem;
      }
    }
  }

  &__stories {
    &__heading {
      padding: 0 1rem;

      @include sm-mobile {
        padding: 0;
      }
      @include desktop {
        max-width: 37rem;
      }
    }

    @include sm-mobile {
      padding: 0 1rem;

      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @include desktop {
      width: 50%;

      align-items: center;
    }
  }

  @include desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}