@import '../variables.scss';

.top-image {
  width: 100vw;
  height: 14rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background-size: cover;
  background-position: bottom;

  @include desktop {
    width: 47vw;

    margin: 2.5vh 1.5vw;

    background-position: center;
    border-radius: $border-radius;
  }
}

.outreach {
  background-color: #FDFDFD;

  &__content {
    position: relative;
    
    background-color: #FDFDFD;

    margin-top: -$border-radius;
    padding: 1.25rem;
    border-radius: $border-radius $border-radius 0 0;

    @include desktop {
      width: 47vw;

      margin: 2.5vh 1.5vw;

      padding: 0;
    }
  }

  @include desktop {
    display: flex;
  }
}