@import '../variables.scss';

.staff-page {
  display: flex;
  flex-direction: column;

  &__parent-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;

    @include desktop {
      flex-direction: row;
    }
  }
}

.staff-list {
  display: flex;
  flex-flow: column wrap;
  align-items: center;

  margin: 1rem;
}

.staff-list .card-container {
  max-width: 30rem;

  @include desktop {
    width: 29rem;
  }
}