@import '../variables.scss';

.staff-page {
  display: flex;
  flex-direction: column;

  &__parent-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;

    @include desktop {
      flex-direction: row;
    }
  }

  @include desktop { 
    margin-top: $desktop-header-height;

    height: calc(100vh - $desktop-header-height - $footer-height);
  }
}

.staff-list {
  display: flex;
  flex-flow: column wrap;
  align-items: center;

  margin: 1rem;
}

.staff-list .card-container {
  width: 17rem;

  @include sm-mobile {
    width: 29rem;
  }
}