@import '../variables.scss';

.button {
  width: fit-content;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;

  padding: 0.5rem 1rem;

  border: 0.155rem solid $clemson-orange;
  border-radius: $border-radius;
  color: $clemson-orange;

  background-color: transparent;

  transition: 0.2s;

  &:hover {
    background-color: $clemson-orange;
    color: getColor(highlight);
    border-color: $clemson-orange;
    cursor: pointer;
  }

  &:focus {
    background-color: $clemson-orange;
    color: getColor(highlight);
    border-color: $clemson-orange;
    box-shadow: 0 0 3px 1px $clemson-orange;
  }
}