@import '../variables.scss';

.card-title {
  &__subtitle {
    font-size: 12pt;
    font-weight: 400;
    margin: 0;
    color: $subheading-text;
    opacity: 70%;
  }

  &__title {
    font-size: 20pt;
    font-weight: 700;
    margin: 0;
    color: $subheading-text;
    line-height: 1em;
  }
}