@import '../variables.scss';

.floating-card {
  display: grid;
  grid-template: auto 1fr auto / auto 1fr;
  position: relative;

  align-items: center;

  width: 95%;
  width: calc(100% - 2rem);

  margin-bottom: 1rem;
  padding: 0.75rem;

  border-radius: $border-radius;
  box-shadow: $box-shadow;

  background-color: $background-white;

  &__image {
    grid-row: 1 / 3;
    grid-column: 1 / 2;

    justify-self: center;
    align-self: center;

    width: 3.5rem;
    height: 3.5rem;
    border-radius: $border-radius;
    object-fit: cover;

    margin-right: 0.75rem;
  }

  &__heading {
    grid-row: 1 / 2;
    grid-column: 2 / 3;

    font-weight: 550;
    font-size: 16px;
    color: $subheading-text;

    margin: 0 0 0.25rem 0;
  }

  &__content {
    grid-row: 2 / 3;
    grid-column: 2 / 3;

    width: 100%;

    font-size: 14px;
    color: $text-color;

    margin: 0;
  }

  &__children {
    grid-row: 3 / 4;
    grid-column: 1 / 3;

    margin: .75rem auto 0;
  }

  &__expand {
    display: block;
    position: absolute;
      right: 0;
      bottom: 0;
    
    width: 1.5rem;
    height: 1.5rem;

    background: $clemson-purple;
    border-radius: $border-radius 0 $border-radius 0;
    border: 0;

    

    cursor: pointer;

    transition: background-color $transition-time $transition-timing;

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;

      background-image: url(../../static/img/down-chevron.svg);
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;

      transition: transform $transition-time $transition-timing;
    }

    &:hover {
      background-color: $clemson-orange;
    }
    &.expanded {
      &::after {
        transform: rotate(-180deg);
      }
    }
  }
}

.drawer {
  grid-row: 3 / 4;
  grid-column: 1 / 3;
  
  font-size: 14px;

  border-radius: 0 0 $border-radius $border-radius;
  background: $off-white;

  margin-top: -2rem;

  width: 95%;
  width: calc(100% - 2rem);

  margin-bottom: 1rem;
  padding: 1rem 0.75rem 0 0.75rem;

  border-radius: 0 0 $border-radius $border-radius;
  box-shadow: 0 0 0 #fff;

  transition: none $transition-time $transition-timing;
  transition-property: padding, box-shadow;

  &.expanded {
    box-shadow: $box-shadow;
  }
  &__text {
    padding: 1rem ;
    margin: 0;
  }
}