@import '../variables.scss';

.big-picture {
  position: relative;
  width: 100%;
  height: 30vh;

  object-fit: cover;
  object-position: center;
  z-index: 1;

  margin: 1rem 0 0;
}

.description-card {
  position: relative;
  width: 80%;

  margin: -5rem auto 1rem;
  z-index: 2;
}