@import '../variables.scss';

.floating-card {
  display: grid;
  grid-template: auto auto auto / auto 1fr;
  grid-column-gap: 0.5rem;

  align-items: center;

  width: 95%;
  width: calc(100% - 2rem);

  margin-bottom: 1rem;
  padding: 1rem;

  border-radius: $border-radius;
  box-shadow: $box-shadow;

  background-color: $background-white;

  &__image {
    grid-row: 1 / 3;
    grid-column: 1 / 2;

    justify-self: center;
    align-self: center;

    width: 3.5rem;
    height: 3.5rem;
    border-radius: $border-radius;
    object-fit: cover;

    margin: 0 1rem 0 0;
  }

  &__heading {
    grid-row: 1 / 2;
    grid-column: 2 / 3;

    font-weight: 550;
    font-size: 16px;
    color: $subheading-text;

    margin: 0;
  }

  &__content {
    grid-row: 2 / 3;
    grid-column: 2 / 3;

    width: 100%;

    font-size: 14px;
    color: $text-color;

    margin: 0;
  }
}