@import '../variables.scss';

.footer {
  display: flex;
  justify-content: center;

  background: white;
  border-radius: $border-radius $border-radius 0 0;
  box-shadow: $box-shadow;

  padding: 1rem 0;
  margin: auto 0 0 0; // for sticky footer

  flex-shrink: 0; // for sticky footer

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__logo {
      width: 15rem;
      height: auto;
    }

    &__copy-text {
      color: $text-color;
      font-size: 14px;
    }
  }
}