@import '../variables.scss';

.footer {
  display: flex;
  position: absolute;
  justify-content: center;
  bottom: 0;
  width: 100%;

  width: 100%;
  height: $footer-height;

  background: getColor(highlight);
  border-radius: $border-radius $border-radius 0 0;
  box-shadow: getColor(box-shadow);

  padding: 1rem 0;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__logo {
      width: 15rem;
      height: auto;
    }

    &__copy-text {
      color: getColor(text-color);
      font-size: 14px;
    }
  }
}