@import '../variables.scss';

.header {
  position: relative;
  color: $clemson-orange;
  text-align: center;
  width: 100%;
  margin: 1rem 0;

  &__top-text {
    font-size: 28px;
    font-weight: 300;
    margin: 0;
  }

  &__bottom-text {
    font-size: 36px;
    font-weight: 700;
    margin: 0;
  }

  &__bar {
    width: 100%;
    height: 0.25rem;
    border-radius: $border-radius;
    background-color: $clemson-orange;
  }
}