@import '../variables.scss';

.the-whole-dang-thing {
  position: relative;
  min-height: 100vh;
}

.page-content {
  padding-bottom: 8.5rem;

  @include desktop {
    padding-top: $desktop-header-height;
  }
}