@import '../variables.scss';

.map-overlay {
  background-color: getColor(base);
  border-radius: $border-radius;

  padding: 0.5rem;

  a {
    text-decoration: none;
  }

  &__link {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    color: getColor(text-color);

    &__chevron {
      transform: rotate(270deg);
      height: 1.3rem;
      filter: invert(0.65);
      margin: 0 0 0 1rem;
    }
  }
}