@import '../variables.scss';

.navbar {
  position: fixed;
  z-index: 100;
  top: 0;

  &__hamburger-menu {
    margin: 0.5rem;
    padding: 0.6rem 0.5rem;

    
    border-radius: 10px;

    cursor: pointer;

    transition: none $transition-timing $transition-time;
    transition-property: border, background-color, box-shadow;

    &.scrolling {
      border: 2px solid $clemson-orange;

      background-color: getColor(highlight);

      box-shadow: getColor(box-shadow);
    }

    @include desktop { display: none; }
  }
  
  .slider {
    position: fixed;
    height: 100%;
    top: 0;

    z-index: -1;

    background-color: getColor(highlight);
    border-radius: 0 $border-radius;

    transition: left $transition-time;
    left: -20rem;
    &.open { left: 0; }

    padding-top: 4rem;

    a {
      text-decoration: none;
      cursor: pointer;
    }

    .link {
      font-size: 28px;
      margin: 1rem 1rem 0;
      padding: 0 0.5rem;
      font-weight: normal;
      color: getColor(subheading-text);

      border-radius: $border-radius;

      &.active {
        background-color: $clemson-orange;
        color: #f5f5f5;
      }
    }

    button { 
      padding: 0; 
      background: transparent;
      outline: none;
      border: none;

      cursor: pointer;
    }

    .ensembles {
      display: none;
      background-color: getColor(highlight);

      margin-left: 2.5rem;

      &.active {
        display: block;
      }

      .ensemble {
        background-color: getColor(highlight);

        margin: 0.25rem 0;

        font-weight: normal;
        color: getColor(subheading-text);
      }
    }

    @include desktop {
      display: flex;
      left: 0;
      padding: 0;
      height: $desktop-header-height;
      width: 100vw;
      border-radius: 0;
  
      background-color: getColor(highlight);
      
      justify-content: space-evenly;
      align-items: flex-end;
  
      box-shadow: getColor(box-shadow);

      .ensembles {
        position: absolute;
        margin: 0 auto;
        padding: 0.25rem 1rem;
        border-radius: 0 0 $border-radius $border-radius;
        box-shadow: getColor(box-shadow);
      }

      button {
        padding: 0;
        background-color: getColor(highlight);
        border: none;
      }
  
      a {
        text-decoration: none;
        cursor: pointer;
      }
  
      .link {
        padding: 0.5rem 1rem;
        margin: 0;

        font-size: 18px;
        font-weight: normal;
        color: getColor(subheading-text);
        border-radius: $border-radius $border-radius 0 0;

        cursor: pointer;
  
        &.active {
          background-color: $clemson-orange;
        }
      }
    }
  }
}