@import '../variables.scss';

.video-card-container {
  width: 100%;
  max-width: $screen-mobile;
  
  margin: auto;
  margin-bottom: 1rem;

  .video-card{
    position: relative;

    align-items: center;
    
    padding: 0.75rem;

    border-radius: $border-radius;
    box-shadow: getColor(box-shadow);

    background-color: getColor(highlight);

    &__heading {
      font-weight: 550;
      font-size: 20px;
      color: getColor(subheading-text);

      margin: 0 0 0.25rem 0;
    }

    &__video-container {
      position: relative;

      width: 100%;
      height: 0px;

      padding-top: 56.25%;

      margin-bottom: 0.5rem;
    }

    &__video {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      border-radius: $border-radius;
    }

    &__content {
      width: 100%;

      font-size: 14px;
      color: getColor(text-color);

      margin: 0;
    }
  }
}