$clemson-orange: #F66733;
$clemson-purple: #522D80;

$background-white: #FCFCFC;
$highlight-white: #FFFFFF;

$border-radius: 10px;
$box-shadow: 0 3px 6px #AAA;

$subheading-text: #4E4E4E;
$text-color: #4A4A4A;

$font-family: 'Roboto';

$max-column-width: 25rem;

body {
  font-family: $font-family;
  margin: 0;
}