$clemson-orange: #F66733;
$clemson-purple: #522D80;

$background-white: #F1F1F1;
$highlight-white: #FFFFFF;

$border-radius: 10px;
$box-shadow: 0 3px 6px #AAA;

$subheading-text: #4E4E4E;
$text-color: #4A4A4A;

$font-family: 'Roboto';

$max-column-width: 25rem;

body {
  font-family: $font-family;
  margin: 0;
  padding: 0;
  background-color: $background-white;
}

// Small tablets and large smartphones (landscape view)
$screen-mobile: 576px;

// Small tablets (portrait view)
$screen-tablet: 768px;

// Tablets and small desktops
$screen-desktop: 992px;

// Large tablets and desktops
$screen-xl-desktop: 1200px;

// Small devices
@mixin mobile {
    @media (min-width: #{$screen-mobile}) {
        @content;
    }
 }
 
 // Medium devices
 @mixin tablet {
    @media (min-width: #{$screen-tablet}) {
        @content;
    }
 }
 
 // Large devices
 @mixin desktop {
    @media (min-width: #{$screen-desktop}) {
        @content;
    }
 }
 
 // Extra large devices
 @mixin xl-desktop {
    @media (min-width: #{$screen-xl-desktop}) {
        @content;
    }
}
