//defining scss variable 
//light theme
$colors: (
	base: #fafafa,
	highlight: #fff,
	off-white: #f4f4f4,
	text-color: #4a4a4a,
	subheading-text: #4e4e4e,
	box-shadow: 0 3px 6px rgba(55, 55, 55, 0.5)
);
//dark theme
$colors-dark: (
	base: #121212,
	highlight: #222,
	off-white: #0c0c0c,
	text-color: #e9e9e9,
	subheading-text: #f5f5f5,
	box-shadow: None
);
//converting scss variable into css variable
:root {
    @each $name, $color in $colors{
        --color-#{$name} : #{$color};
    }
  --theme: 'light';
}

@media(prefers-color-scheme: dark) {
    :root {
        @each $name, $color in $colors-dark{
            --color-#{$name} : #{$color};
        }
    --theme : 'dark';
    }
}
//creating a function to get color instead of using css varible
@function getColor($color-name){
    @return var(--color-#{$color-name});
}

$clemson-orange: #F66733;
$clemson-purple: #522D80;
$light-purple: #733EB3;

$border-radius: 10px;

$font-family: 'Roboto';

$max-column-width: 25rem;

$transition-time: 200ms;
$transition-timing: ease-out;

$desktop-header-height: 2.75rem;
$footer-height: 5.5rem;

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;

  font-family: $font-family;
}

a {
  transition: none $transition-time $transition-timing;
  transition-property: background-color, background-image, color;
}

// Even smaller screens (mainly used for the horizontal card)
$screen-mobile-portrait: 530px;

// Small tablets and large smartphones (landscape view)
$screen-mobile: 576px;

// Small tablets (portrait view)
$screen-tablet: 768px;

// Tablets and small desktops
$screen-desktop: 992px;

// Large tablets and desktops
$screen-xl-desktop: 1250px;

// Small devices
@mixin sm-mobile {
	@media (min-width: #{$screen-mobile-portrait}) {
		@content;
	}
}


// Small devices
@mixin mobile {
	@media (min-width: #{$screen-mobile}) {
		@content;
	}
 }
 
 // Medium devices
 @mixin tablet {
	@media (min-width: #{$screen-tablet}) {
		@content;
	}
 }
 
 // Large devices
 @mixin desktop {
	@media (min-width: #{$screen-desktop}) {
		@content;
	}
 }
 
 // Extra large devices
 @mixin xl-desktop {
	@media (min-width: #{$screen-xl-desktop}) {
		@content;
	}
}
