$clemson-orange: #F66733;
$clemson-purple: #522D80;
$light-purple: #733EB3;

$background-white: #FCFCFC;
$highlight-white: #FFFFFF;
$off-white: #F7F7F7;

$border-radius: 10px;
$box-shadow: 0 3px 6px rgba(55, 55, 55, 0.5);

$subheading-text: #4E4E4E;
$text-color: #4A4A4A;

$font-family: 'Roboto';

$max-column-width: 25rem;

$transition-time: 200ms;
$transition-timing: ease-out;

$desktop-header-height: 2.5rem;

body {
  font-family: $font-family;
  margin: 0;
  padding: 0;
}

a {
  transition: none $transition-time $transition-timing;
  transition-property: background-color, background-image, color;
}

// Small tablets and large smartphones (landscape view)
$screen-mobile: 576px;

// Small tablets (portrait view)
$screen-tablet: 768px;

// Tablets and small desktops
$screen-desktop: 992px;

// Large tablets and desktops
$screen-xl-desktop: 1200px;

// Small devices
@mixin mobile {
    @media (min-width: #{$screen-mobile}) {
        @content;
    }
 }
 
 // Medium devices
 @mixin tablet {
    @media (min-width: #{$screen-tablet}) {
        @content;
    }
 }
 
 // Large devices
 @mixin desktop {
    @media (min-width: #{$screen-desktop}) {
        @content;
    }
 }
 
 // Extra large devices
 @mixin xl-desktop {
    @media (min-width: #{$screen-xl-desktop}) {
        @content;
    }
}
