@import '../../variables.scss';

.expanded-card {
  display: flex;
  flex-direction: column;

  max-width: 35rem;

  border-radius: $border-radius;
  box-shadow: $box-shadow;
  background-color: $highlight-white;

  padding: 1rem 2%;
  margin: 0 0 1rem;

  &__image {
    object-fit: cover;
    width: 100%;
    max-height: 17rem;

    border-radius: $border-radius;

    margin: 1rem auto 0;
  }

  &__description {
    margin: 1rem 0;

    color: $text-color;
    font-size: 14px;
  }

  &__button {
    margin: 0 auto
  }
}