@import '../../variables.scss';

.expanded-card {
  display: flex;
  flex-direction: column;

  max-width: 35rem;

  border-radius: $border-radius;
  box-shadow: $box-shadow;
  background-color: getColor(highlight);

  padding: 1rem 2%;
  margin: 0 0 1rem;

  &__image {
    object-fit: cover;
    width: 100%;
    max-height: 17rem;

    border-radius: $border-radius;

    margin: 1rem auto;
  }

  &__description {
    margin: 0 0 1rem;

    color: getColor(text-color);
    font-size: 14px;
  }

  &__subtitle {
    margin: 0 0 1rem;
  }

  &__button {
    margin: 0 auto
  }

  &__map-wrapper {
    height: 15rem;
    margin-top: 1rem;
    border-radius: $border-radius;
  }
}